@{
	ViewData["Title"] = "About";
}
<div class="container margin_60_35 add_bottom_30">
	<div class="main_title">
		<h2>Về Ăn Vặt Food</h2>
		<p>
			Trang thương mại điện tử về đồ ăn vặt hàng đầu Việt Nam
		</p>
	</div>
	<div class="row justify-content-center align-items-center">
		<div class="col-lg-5">
			<div class="box_about">
				<h2>Sản phẩm nổi bật</h2>
				<p class="lead">Bánh Mì Nướng</p>
				<p>Bánh mì nướng là một món ăn vặt phổ biến, được yêu thích nhờ lớp vỏ giòn rụm bên ngoài và phần nhân phong phú bên trong. Món ăn này thường được ăn kèm với các loại gia vị, thịt, rau sống và nước sốt thơm ngon. Bánh mì nướng là lựa chọn tuyệt vời cho những ai muốn thưởng thức một món ăn nhanh nhưng đầy đủ hương vị.</p>
				<img src="~/Content/img/arrow_about.png" alt="" class="arrow_1">
			</div>
		</div>
		<div class="col-lg-5 pl-lg-5 text-center d-none d-lg-block">
			<img src="~/Content/img/about_1.svg" alt="" class="img-fluid" width="350" height="268">
		</div>
	</div>
	<!-- /row -->
	<div class="row justify-content-center align-items-center">
		<div class="col-lg-5 pr-lg-5 text-center d-none d-lg-block">
			<img src="~/Content/img/about_2.svg" alt="" class="img-fluid" width="350" height="268">
		</div>
		<div class="col-lg-5">
			<div class="box_about">
				<h2>Thương hiệu hàng đầu</h2>
				<p class="lead">Ăn Vặt Food</p>
				<p>Ăn Vặt Food là một địa chỉ tuyệt vời dành cho những tín đồ yêu thích các món ăn vặt ngon miệng. Chúng tôi chuyên cung cấp đa dạng các món ăn nhẹ, từ các món truyền thống đến các món ăn hiện đại, đảm bảo chất lượng và hương vị hấp dẫn. Với tiêu chí "Nhanh chóng - Ngon - Đảm bảo vệ sinh", Ăn Vặt Food luôn là sự lựa chọn lý tưởng cho những ai muốn thưởng thức món ăn vặt chất lượng.</p>
				<img src="~/Content/img/arrow_about.png" alt="" class="arrow_2">
			</div>
		</div>
	</div>
	<!-- /row -->
	<div class="row justify-content-center align-items-center ">
		<div class="col-lg-5">
			<div class="box_about">
				<h2>+1000 món ăn vặt</h2>
				<p class="lead">Ăn Vặt Food</p>
				<p>Ăn Vặt Food cung cấp hơn 1000 món ăn vặt đa dạng và phong phú, từ các món ăn truyền thống đến những món hiện đại, đảm bảo mang lại trải nghiệm ẩm thực tuyệt vời cho bạn. Chúng tôi cam kết về chất lượng và sự tươi ngon trong từng món ăn, phục vụ nhanh chóng và luôn đáp ứng nhu cầu của khách hàng yêu thích những món ăn nhẹ, dễ dàng thưởng thức tại bất kỳ thời điểm nào trong ngày.</p>
			</div>

		</div>
		<div class="col-lg-5 pl-lg-5 text-center d-none d-lg-block">
			<img src="~/Content/img/about_3.svg" alt="" class="img-fluid" width="350" height="316">
		</div>
	</div>
	<!-- /row -->
</div>
<!-- /container -->

<div class="bg_white">
	<div class="container margin_60_35">
		<div class="main_title">
			<h2>Tại sao chọn Ăn Vặt Food?</h2>
			<p>Chúng tôi mang đến cho bạn những món ăn vặt hấp dẫn từ khắp nơi trên thế giới, giúp bạn thưởng thức hương vị đa dạng, phong phú, và luôn tươi ngon. Hãy để Ăn Vặt Food là lựa chọn lý tưởng mỗi khi bạn muốn trải nghiệm những món ăn vặt độc đáo và ngon miệng.</p>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="box_feat">
					<i class="ti-medall-alt"> </i>
					<h3>Hơn 1000 khách hàng hài lòng</h3>
					<p>Chúng tôi tự hào cung cấp những sản phẩm và dịch vụ chất lượng, được tin tưởng bởi hơn 1000 khách hàng trên khắp cả nước. Sự hài lòng của bạn là động lực để chúng tôi không ngừng nỗ lực và cải thiện mỗi ngày.</p>

				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="box_feat">
					<i class="ti-help-alt"> </i>
					<h3>Hỗ trợ 24/7</h3>
					<p>Chúng tôi luôn sẵn sàng hỗ trợ bạn mọi lúc, mọi nơi, 24/7. Đội ngũ chăm sóc khách hàng chuyên nghiệp sẽ đảm bảo giải đáp mọi thắc mắc và mang đến cho bạn trải nghiệm tốt nhất.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="box_feat">
					<i class="ti-gift"> </i>
					<h3>Ưu đãi cực lớn</h3>
					<p>Đừng bỏ lỡ cơ hội nhận những khuyến mại hấp dẫn nhất! Chúng tôi mang đến nhiều ưu đãi đặc biệt, giúp bạn tận hưởng sản phẩm chất lượng với mức giá tuyệt vời.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="box_feat">
					<i class="ti-headphone-alt"> </i>
					<h3>Đường dây hỗ trợ trực tiếp</h3>
					<p>Liên hệ ngay với đường dây hỗ trợ của chúng tôi để nhận được sự tư vấn và giải đáp nhanh chóng. Chúng tôi luôn sẵn sàng lắng nghe và đồng hành cùng bạn mọi lúc.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="box_feat">
					<i class="ti-wallet"> </i>
					<h3>Thanh toán an toàn</h3>
					<p>Chúng tôi cam kết bảo vệ thông tin của bạn với hệ thống thanh toán an toàn, đảm bảo mọi giao dịch được xử lý nhanh chóng và bảo mật tuyệt đối. Bạn có thể yên tâm về mỗi lần thanh toán trên nền tảng của chúng tôi.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="box_feat">
					<i class="ti-comments"> </i>
					<h3>Hỗ trợ qua Trò chuyện</h3>
					<p>Chúng tôi cung cấp dịch vụ hỗ trợ khách hàng qua trò chuyện trực tuyến 24/7. Bạn có thể nhận được sự trợ giúp ngay lập tức từ đội ngũ chuyên gia, giúp giải quyết mọi thắc mắc và vấn đề trong thời gian ngắn nhất.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container margin_60">
	<div class="main_title">
		<h2>Đội ngũ phát triển</h2>
		<p>Website bán đồ ăn vặt - Ăn Vặt Food - My first website</p>
	</div>
	<div class="owl-carousel owl-theme carousel_centered">
		<div class="item">
			<a href="#0">
				<div class="title">
					<h4>Trương Đắc Điền<em>Dev</em></h4>
				</div><img src="~/Content/img/staff/Dien.jpg" alt="" style="width:350px; height: 350px;">
			</a>
		</div>
		<div class="item">
			<a href="#0">
				<div class="title">
					<h4>Ya Đạt<em>Dev</em></h4>
				</div><img src="~/Content/img/staff/Dat.jpg" alt="" style="width:350px; height: 350px;">
			</a>
		</div>
		<div class="item">
			<a href="#0">
				<div class="title">
					<h4>Nguyễn Minh Kha<em>Dev</em></h4>
				</div><img src="~/Content/img/staff/Kha.jpg" alt="" style="width:350px; height: 350px;">
			</a>
		</div>
	</div>
	<!-- /carousel -->
</div>
<!-- /container -->