@{
	ViewData["Title"] = "Trợ giúp";
}
<!-- /top_banner -->
<div class="page_header">
	<div class="breadcrumbs">
		<ul>
			<li>
				<a asp-action="Index" asp-controller="Home">Trang chủ</a>
			</li>
			<li>
				<a asp-action="Help" asp-controller="Home">Trợ giúp</a>
			</li>
		</ul>
	</div>
	<h1> Trợ giúp và Hỗ trợ </h1>
</div>
<div id="container">

	<div class="search-input">
		<input type="text" placeholder="Tìm kiếm câu hỏi hoặc bài viết ...">
		<button type="submit">
			<i class="ti-search"> </i>
		</button>
	</div>

	<div class="row">
		<div class="col-lg-4 col-md-6">
			<a class="box_topic" href="#0">
				<i class="ti-wallet"> </i>
				<h3> Thanh toán </h3>
				<p> Hướng dẫn các phương thức thanh toán và giải đáp thắc mắc liên quan. </p>
			</a>
		</div>
		<div class="col-lg-4 col-md-6">
			<a class="box_topic" href="#0">
				<i class="ti-user"> </i>
				<h3> Tài khoản </h3>
				<p> Quản lý tài khoản, thay đổi thông tin hoặc khôi phục mật khẩu. </p>
			</a>
		</div>
		<div class="col-lg-4 col-md-6">
			<a class="box_topic" href="#0">
				<i class="ti-help"> </i>
				<h3> Trợ giúp chung </h3>
				<p> Các câu hỏi thường gặp về cách sử dụng trang web. </p>
			</a>
		</div>
		<div class="col-lg-4 col-md-6">
			<a class="box_topic" href="#0">
				<i class="ti-truck"> </i>
				<h3> Vận chuyển </h3>
				<p> Thông tin về giao hàng, thời gian và phí vận chuyển. </p>
			</a>
		</div>
		<div class="col-lg-4 col-md-6">
			<a class="box_topic" href="#0">
				<i class="ti-eraser"> </i>
				<h3> Hủy đơn hàng </h3>
				<p> Hướng dẫn cách hủy đơn hàng nhanh chóng và hiệu quả. </p>
			</a>
		</div>
		<div class="col-lg-4 col-md-6">
			<a class="box_topic" href="#0">
				<i class="ti-comments"> </i>
				<h3> Đánh giá sản phẩm </h3>
				<p> Cách gửi đánh giá và chia sẻ trải nghiệm của bạn. </p>
			</a>
		</div>
	</div>
	<div class="bg_white">
		<div class="container margin_30">
			<h5> Các bài viết nổi bật </h5>
			<div class="list_articles add_bottom_15 clearfix">
				<ul>
					<li>
						<a href="#0"> <i class="ti-file"> </i> <strong> Thanh toán </strong> - Hướng dẫn thanh toán qua thẻ và ví điện tử </a>
					</li>
					<li>
						<a href="#0"> <i class="ti-file"> </i> <strong> Tài khoản </strong> - Cách thay đổi thông tin cá nhân </a>
					</li>
					<li>
						<a href="#0"> <i class="ti-file"> </i> <strong> Hoàn tiền </strong> - Quy trình hoàn tiền khi đơn hàng lỗi </a>
					</li>
					<li>
						<a href="#0"> <i class="ti-file"> </i> <strong> Vận chuyển </strong> - Phí giao hàng áp dụng cho từng khu vực </a>
					</li>
					<li>
						<a href="#0"> <i class="ti-file"> </i> <strong> Hủy đơn hàng </strong> - Chính sách và điều kiện hủy đơn </a>
					</li>
					<li>
						<a href="#0"> <i class="ti-file"> </i> <strong> Bảo hành </strong> - Thông tin bảo hành sản phẩm đóng gói </a>
					</li>
					<li>
						<a href="#0"> <i class="ti-file"> </i> <strong> Khuyến mãi </strong> - Các chương trình ưu đãi đang diễn ra </a>
					</li>
					<li>
						<a href="#0"> <i class="ti-file"> </i> <strong> Đánh giá sản phẩm </strong> - Chia sẻ ý kiến của bạn để nhận điểm thưởng </a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>